---
import { Image } from "astro:assets";

interface Props {
  CategoryObject: {
    photo: string;
    desc: string;
    alt: string;
    name: string;
    slug: string;
    height?: number;
    width?: number;
    class?: string;
  };
  locale?: string;
}

const { CategoryObject, locale = 'en' } = Astro.props;
const { height = 70, width = 70 } = CategoryObject;

const href = `/${locale !== 'en' ? `${locale}/` : ''}${CategoryObject.slug}/`;

---


<a href={href} class="carousel-item" data-astro-prefetch>
  <Image
    src={CategoryObject.photo}
    alt={CategoryObject.alt}
    height={height}
    width={width}
    format="avif"
    loading="eager"
    onerror="this.style.display='none';"
    class="cats-img"
  />
  <div class="swiper-lazy-preloader" />
  <div class="cat-name" itemprop="name">{CategoryObject.name}</div>
</a>
