---
import { Icon } from "astro-icon/components";
import { SITE } from "../config";
import Jumbatron from "../components/Jumbatron.vue";
import Layout from '../layouts/Layout.astro';
import Headline from "../components/Headline.vue";
const navItems = [
  {
    title: "Core",
    description: "Base colors, typography, shadows, and more.",
    url: "/core/introduction",
    icon: 'ant-design:cluster-outlined'
  },
  {
    title: "Components",
    description: "The building blocks for our UI.",
    url: "/components/buttons",
    icon: 'ant-design:build-twotone'
  },
  {
    title: "Patterns",
    description: "Common patterns for building interfaces.",
    url: "/patterns/introduction",
    icon: 'ant-design:audit-outlined'
  },
];
---
<Layout>
<div class="bg-slate-100 min-h-screen text-center" >
  <Jumbatron class="w-full">
    <span slot="intro" set:html={SITE.title} />
    
    <p slot="subtitle"
      class="mt-3 text-base text-gray-200 sm:mt-5 text-lg md:text-xl lg:mx-0 md:mt-5"
      set:html={SITE.description}
    />


    <Button slot="cta"
      href="/core/introduction/"
      title="short text"
      class="w-full inline-flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-full text-white bg-lightBlue-500 hover:bg-lightBlue-600 md:py-2 md:text-lg md:px-10 shadow"
    >
     Read More
    </Button>
</Jumbatron>
  <nav>
    <ul class="flex gap-4 max-w-5xl mx-auto text-left mt-12">
      {
        navItems.map(({ title, description, url, icon }) => (
          <a
            href={url}
            class="flex flex-col bg-white rounded-md hover:-translate-y-1 hover:shadow-lg transition-all flex-1 items-center py-10 px-4 text-center"
          >
            <Headline as="h2" textSize="2xl">
              <Icon name={icon} aria-hidden="true" class="text-blue-wrc mr-2" />
              {title}
            </Headline>
            <p class="text-slate-500">{description}</p>
          </a>
        ))
      }
    </ul>
  </nav>
</div>
</Layout>
<script is:inline></script>
