---
import { changeLanguage } from "i18next";
import { Icon } from "astro-icon/components";
import { SITE } from "../config";
import Jumbatron from "../components/Jumbatron.vue";
import Layout from "../layouts/Layout.astro";
import Headline from "../components/Headline.vue";
import Button from "../components/Button.vue";
import Quote from "../components/Quote.vue";
import FeaturesList from "../components/FeaturesList.vue";

const navItems = [
  {
    title: "Core",
    description: "Base colors, typography, shadows etc.",
    url: "/core/introduction",
    icon: "ant-design:cluster-outlined",
  },
  {
    title: "Components",
    description: "The building blocks for our UI.",
    url: "/components/buttons",
    icon: "ant-design:build-twotone",
  },
  {
    title: "Patterns",
    description: "Common patterns for building interfaces.",
    url: "/patterns/introduction",
    icon: "ant-design:audit-outlined",
  },
];
---

<Layout>
  <div class="bg-slate-100 min-h-screen text-center">
    <Jumbatron class="w-full">
      <span slot="intro" set:html={SITE.title} />

      <p
        slot="subtitle"
        class="mt-3 text-base text-gray-200 sm:mt-5 text-lg md:text-xl lg:mx-0 md:mt-5"
        set:html={SITE.description}
      />

      <Button
        slot="cta"
        href="/core/introduction/"
        title="Spoko Design System"
        primary
        rounded
      >
        Read More
      </Button>
    </Jumbatron>
    <nav>
      <div
        class="px-4 flex-col flex flex-wrap md:flex-nowrap gap-4 max-w-5xl mx-auto text-left mt-12 md:(px-0 flex-row)"
      >
        {
          navItems.map(({ title, description, url, icon }) => (
            <a
              href={url}
              title={description}
              class="flex w-full flex-wrap bg-white rounded-md hover:-translate-y-1 hover:shadow-lg transition-all flex-1 items-center py-10 px-4 md:(flex-col w-auto flex-nowrap text-center py-16)"
            >
              <Headline as="h2" textSize="2xl" underline={false}>
                <Icon
                  name={icon}
                  aria-hidden="true"
                  class="text-blue-400 mr-2"
                />
                {title}
              </Headline>
              <p class="text-slate-500 w-full">{description}</p>
            </a>
          ))
        }
      </div>
    </nav>
    <div
      class="mt-12 py-20 bg-blue-700 bg-vw text-white flex items-center justify-center relative"
    >
      <Quote>
        <blockquote>
          Well done is better than well said.
          <small class="block font-headlight">- Benjamin Franklin</small>
        </blockquote>
      </Quote>
    </div>

    <div class="flex flex-col py-12">
      <Headline underline as="div" class="mx-auto text-gray-900" textSize="3xl">Examples:</Headline>
      <ul class="mx-auto flex flex-wrap items-center justify-center text-2xl py-6">
        <li class="leading-5 me-6">
          <a href="https://catalog.polo.blue" class="transition ease-in-out delay-200 duration-300 text-blue-600 hover:(text-light-blue-500 decoration-blue-600) underline decoration-white" target="_blank"> catalog.polo.blue</a>
        </li>
        <li class="leading-5 me-6">
          <a href="https://polo.blue" class="transition ease-in-out delay-200 duration-300 text-blue-600 hover:(text-light-blue-500 decoration-blue-600) underline decoration-white" target="_blank"> polo.blue</a>
        </li>
        <li class="leading-5 me-6">
          <a href="https://spoko.space" class="transition ease-in-out delay-200 duration-300 text-blue-600 hover:(text-light-blue-500 decoration-blue-600) underline decoration-white" target="_blank"> spoko.space</a>
        </li>
      </ul>
    </div>
  </div>
  <script is:inline></script>
</Layout>
