---
// variants/Hero.astro
interface Props {
  title?: string;
  image?: string;
  description?: string;
  info?: string;
  backgroundClass?: string;
  slim?: boolean;
}

const { title = '', image, description, info, backgroundClass, slim = false } = Astro.props;

// Height classes based on slim prop
const heightClass = slim ? 'py-6 min-h-32' : 'py-8 h-56 sm:h-72 md:max-h-72';
---

<div class={`relative w-full ${backgroundClass}`}>
  {
    image && (
      <div class="absolute inset-0 w-full h-full">
        <div class="absolute inset-0 bg-gradient-to-r from-blue-900 to-transparent opacity-90 z-1" />
        <img class="w-full h-full object-cover" src={image} alt={title} />
      </div>
    )
  }

  <div class:list={['xl:container mx-auto px-3.5 md:px-8 items-center flex', heightClass]}>
    <header class="relative z-10 text-white">
      <h1
        class="font-headlight text-7.5 sm:text-8 md:text-10 xl:text-12 mt-1 line-clamp-3 leading-tight"
        set:html={title}
      />
      {description && <div class="jumbotron-description mt-4" set:html={description} />}
      {info && <div class="jumbotron-info" set:html={info} />}
    </header>
  </div>
</div>

<style scoped>
  .font-headlight {
    b {
      font-family: 'vw_headregular', sans-serif;
    }
  }
</style>
