---
import type { Author, Category } from '../types';
import CategoryLink from "../../CategoryLink.astro";
import Date from "../../Date.astro";
import { Image } from "astro:assets";

interface Props {
  title?: string;
  image?: string;
  author?: Author;
  date?: string;
  categories?: Category[];
  hasMetadata: boolean;
  hasCategories: boolean;
}

const {
  title = "",
  image,
  author,
  date,
  categories = [],
  hasMetadata,
  hasCategories,
} = Astro.props;
---

<div class="jumbotron-split-wrapper bg-blue-900 bg-vw">
  <div class="jumbotron-split-container">
    <header class="jumbotron-split-header">
      <div class="heading flex flex-wrap text-white relative items-center justify-center mt-auto w-full z-[2]">
        <div class="jumbotron-split-content">
          <h1 class="jumbotron-split-title" set:html={title} />
          
          {hasCategories && (
            <div class="jumbotron-categories">
              <CategoryLink categories={categories} />
            </div>
          )}

          {hasMetadata && (
            <div class="jumbotron-split-meta">
              {author && (
                <span class="text-sm" title={author.firstName} data-pagefind-ignore>
                  {author.name}
                </span>
              )}
              {author && date && <span class="mx-1">-</span>}
              {date && <Date date={date} />}
            </div>
          )}
        </div>
      </div>
      
      {image && (
        <div class="jumbotron-split-image-wrapper">
          <div class="jumbotron-split-image">
            <Image 
              class="jumbotron-split-img"
              src={image} 
              alt={title}
              width={768}
              height={432}
              loading="eager"
            />
          </div>
        </div>
      )}
    </header>
  </div>
</div>