---
    import MainLayout from '../../layouts/MainLayout.astro'
    import { TYPOGRAPHY } from '../../design.config'
    import { FONTS } from '../../design.config'
    const getStyle = (item) => {
        return `font-size: ${item.size}; font-weight: ${item.weight};`
    }
---

<MainLayout>
    <h1>Typography</h1>
    <div class="w-full">
    {
        TYPOGRAPHY.scale.map((item) => (
            <div class="mt-6 border-t py-4">
                <p style={getStyle(item)}>Hello world</p>
                <div class="flex gap-6 text-slate-500 font-mono">
                    <span>{item.name}</span>
                    <span>weight: {item.weight}</span>
                    <span>size: {item.size}</span>
                </div>
            </div>
        ))
    }
    </div>
    <div class="font-novamono"></div>


    <h1>Fonts</h1>
    <div class="component-preview ">
        <div class="flex flex-wrap gap-16">
        {FONTS.types.map(({name, value}) => (
            <div class="w-full">
                <div class={`${value} text-3xl`} >Lorem Ipsum</div>
                <div class="">{name}</div>
                <code>{value}</code>
            </div>
        ))}
        </div>
    </div>

    <pre class="astro-code bg-slate-800 text-white">
    {FONTS.types.map(({name, value}) => (
            <div class="my-5">{`${name}:`}<br><pre>{value}</pre></div>
        ))}
    </pre>

</MainLayout>